<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">JAVNO GRADSKO SAOBRAĆAJNO PREDUZEĆE - NOVI SAD</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="http://localhost:4200/redvoznje">REDOVI VOŽNJE</a>
        <a class="nav-item nav-link" href="#">MREŽE LINIJA</a>
        <a class="nav-item nav-link" href="#">TRENUTNE LOKACIJE VOZILA</a>
        <a class="nav-item nav-link" href="#">CENOVNIK</a>
        <a class="nav-item nav-link" href="http://localhost:4200/login">PRIJAVI SE/REGISTRUJ SE</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
          <i class="fa fa-medium"></i>
        </a>
      </div>
    </div>
</nav>