<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">JAVNO GRADSKO SAOBRAĆAJNO PREDUZEĆE - NOVI SAD</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="http://localhost:4200/redvoznje">REDOVI VOŽNJE</a>
        <a class="nav-item nav-link" href="#">MREŽE LINIJA</a>
        <a class="nav-item nav-link" href="#">TRENUTNE LOKACIJE VOZILA</a>
        <a class="nav-item nav-link" href="http://localhost:4200/cenovnik">CENOVNIK/KUPOVINA KARTE</a>
        <a class="nav-item nav-link" href="http://localhost:4200/profil">PROFIL</a>
        <a class="nav-item nav-link" href="http://localhost:4200/login">PRIJAVI SE/REGISTRUJ SE</a>
      </div>
    </div>
</nav>