<form [formGroup]="registacijaForm" (submit)="register()">

  <fieldset class="clearfix">
      <div>
          <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Register"></span>
      </div>
      <p>Name:<span class="fa fa-user"></span><input Placeholder="Name" type="text" formControlName="Name" required></p> 
      <p>Surname:<span class="fa fa-user"></span><input Placeholder="Surname" type="text" formControlName="Surname" required></p> 
      <p>UserName:<span class="fa fa-user"></span><input Placeholder="UserName" type="text" formControlName="UserName" required></p>
      <p>Password<span class="fa fa-lock"></span><input Placeholder="Password" type="password" formControlName="Password" required></p> 
      <p>Confirm Pass:<span class="fa fa-lock"></span><input Placeholder="ConfirmPassword" type="password" formControlName="ConfirmPassword" required></p>
      <p>Email:<span class="fa fa-user"></span><input Placeholder="Email" type="email" formControlName="Email" required></p><br>
      <p>Address:<span class="fa fa-user"></span><input Placeholder="Address" type="email" formControlName="Address" required></p><br>
      <p>Date:<span class="fa fa-user"></span><input Placeholder="Date" type="date" formControlName="Date" required></p><br>
      <p>PhoneNumber:<span class="fa fa-user"></span><input Placeholder="PhoneNumber" type="text" formControlName="PhoneNumber" required></p><br>      
      <select [(ngModel)]="tipKorisnika" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let t of tipoviKorisnika">
          {{t}} 
        </option>
      </select>
      <div class="form-group row">
        <input type="file" formControlName="ImageUrl" (change)="onFileSelected($event)" />
      </div>

  </fieldset>
<div class="clearfix"></div>
</form>