<form [formGroup]="registacijaForm" (submit)="register()">

  <fieldset class="clearfix">
      <div>
          <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Register"></span>
      </div>
      <p>Name:<span class="fa fa-user"></span><input Placeholder="Name" type="text" formControlName="Name" required></p> 
      <p>Surname:<span class="fa fa-user"></span><input Placeholder="Surname" type="text" formControlName="Surname" required></p> 
      <p>Username:<span class="fa fa-user"></span><input Placeholder="Username" type="text" formControlName="Username" required></p>
      <p>Password<span class="fa fa-lock"></span><input Placeholder="Password" type="password" formControlName="Password" required></p> 
      <p>Confirm Pass:<span class="fa fa-lock"></span><input Placeholder="ConfirmPassword" type="password" formControlName="ConfirmPassword" required></p>
      <p>Email:<span class="fa fa-user"></span><input Placeholder="Email" type="email" formControlName="Email" required></p><br>
      <p>Address:<span class="fa fa-user"></span><input Placeholder="Address" type="email" formControlName="Address" required></p><br>
      <p>Date:<span class="fa fa-user"></span><input Placeholder="Date" type="date" formControlName="Date" required></p><br>
      <p>PhoneNumber:<span class="fa fa-user"></span><input Placeholder="PhoneNumber" type="text" formControlName="PhoneNumber" required></p><br>      
      <div class="form-group col-md-6">
        <label for="image" class="col-sm-2">Dokument</label>
        <!-- <input type="file" class="form-control-file" formControlName="ImageUpload" id="FormControlFile1"> -->
        <input #file type="file" accept='image/*' formControlName="ImageUrl" (change)="preview(file.files)" />
        <img [src]="imgURL" height="200" *ngIf="imgURL">
        <br>
        <!-- {{imgURL}}
        {{imageUrl}} -->
    </div>

  </fieldset>
<div class="clearfix"></div>
</form>