<table border="1">
    <tr>
      <th>Ime stanice</th>
      <th>Adresa stanice</th>
      <th>X koordinata</th>
      <th>Y koordinata</th>
    </tr>
    <tr>
      <td>Prva stanica</td>
      <td>Adresa prve stanica</td>
      <td>22.024663</td>
      <td>22.024663</td>
      <td><input type="submit" value="Izmeni"/></td>
      <td><input type="submit" value="Obrisi"/></td>
    </tr>
    <tr>
        <td>Druga stanica</td>
        <td>Adresa druge stanica</td>
        <td>22.024663</td>
        <td>22.024663</td>
        <td><input type="submit" value="Izmeni"/></td>
        <td><input type="submit" value="Obrisi"/></td>
    </tr>
    <tr>
        <td>Treca stanica</td>
        <td>Adresa trece stanica</td>
        <td>22.024663</td>
        <td>22.024663</td>
        <td><input type="submit" value="Izmeni"/></td>
        <td><input type="submit" value="Obrisi"/></td>
    </tr>
      <tr>
      <td ><input type="submit" value="Dodaj stanicu"/></td>
      </tr>
  </table>