<table border="1">
  <tr>
    <th>Oznaka linije</th>
  </tr>
  <tr>
    <td>1A</td>
    <td><input type="submit" value="Izmeni"/></td>
    <td><input type="submit" value="Obrisi"/></td>
  </tr>
  <tr>
    <td>12A</td>
    <td><input type="submit" value="Izmeni"/></td>
    <td><input type="submit" value="Obrisi"/></td>
    </tr>
  <tr>
    <td>1aA</td>
    <td><input type="submit" value="Izmeni"/></td>
    <td><input type="submit" value="Obrisi"/></td>
  </tr>
    <tr>
    <td><input type="submit" value="Dodaj novu liniju"/></td>
    </tr>
</table>
