<table border="1">
    <tr>
      <th>ID tipa reda voznje</th>
      <th>ID tipa dana</th>
      <th>ID linije</th>
      <th>Polasci</th>
    </tr>
    <tr>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10:00, 10:45, 12:50</td>
      <td><input type="submit" value="Izmeni"/></td>
      <td><input type="submit" value="Obrisi"/></td>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>2</td>
        <td>22:00</td>
        <td><input type="submit" value="Izmeni"/></td>
        <td><input type="submit" value="Obrisi"/></td>
    </tr>
    <tr>
        <td>2</td>
        <td>3</td>
        <td>1</td>
        <td>5:00, 6:00, 8:00, 12:30</td>
        <td><input type="submit" value="Izmeni"/></td>
        <td><input type="submit" value="Obrisi"/></td>
    </tr>
      <tr>
      <td ><input type="submit" value="Dodaj red voznje"/></td>
      </tr>
  </table>